<div class="tittle">
  <h1>Stupid Coach</h1>
  <h2>Try to ask something</h2>
</div>
<div class="container">
  <form action="/answer" method="get">
    <input type="text" name="question" placeholder="your question please">
    <input type="submit" class="btn btn-primary">
  </form>
</div>
