// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  font-size: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center
}

.tittle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.answer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
